
<div style="margin-left:30%; margin-top:10%">
	
	<ul class="about">
    <li class="centered">
        <figure>
            <img src="app/images/image2.png" alt=""/>
            <figcaption>
                <h2>Alain Licona</h2>
                <p>Software Developer at Structural Group Inc.</p>
            </figcaption>
        </figure>
    </li>

</ul>


<ul class="about">
    <li class="centered">
        <figure>
            <img src="app/images/image1.jpg" alt=""/>
            <figcaption>
                <h2>Rahul Gannerlla</h2>
                <p>Software Developer at Structural Group Inc.</p>
            </figcaption>
        </figure>
    </li>
</ul>

</div>

