
<div class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
	  	<div class="mdl-card mdl-cell mdl-cell--12-col">
		  	<div class="mdl-card__supporting-text">
		    <h4>Terms & Conditions</h4>
		    <ol>
				<li>By any means, Data fetched from Google is not saved locally and in server By any means, Data fetched from Google is not saved.</li>
				<li>Empty Stack group is not involved in any distribution of your personal data. </li>
				<li>xyz </li>
			</ol>
		  	</div>
	  		<div class="mdl-card__actions">
	    <a href="#" class="mdl-button">I Agree</a>
	  </div>
	</div>
</section>
</div>
</div>




<!-- <div>
	<h1 class="h1">Most frequent word in your Google Search</h1>
	<div class="terms" >
		<h2>Terms & Conditions</h2> 
		<div>
			<ol>
				<li>By any means, Data fetched from Google is not saved locally and in server.</li>
				<li>Empty Stack group is not involved in any distribution of your personal data. </li>
				<li>xyz </li>
			</ol>
		</div>
		<input class="agree" type="checkbox" id="termsCheckbox" value="isChecked">I agree
	</div>
	<div>
		<div class="chart">
			<h2>Tag Cloud</h2> 
			<input type="file" (change)="changeListener($event)" multiple />
		</div>	
		<div class="instructions">
			<h2>Instructions</h2> 
			
		</div>
	</div>
	<div [hidden]=true id="mycontent"></div>
	<button (click)="LoadWordCloud()">Load Word Cloud</button>
		{{errormessage}}
	
<style>


	.h1{
		text-align: center;
	}
	.terms{
		margin: 40px;
		border-style: solid;
		border-radius: 5px;
		border-color: black;
		border-width: 1px;
		align:center;
	}
	.chart{
		width: 74%;
		float: left;
		border-radius: 5px;
		border-style: solid;
		border-color: black;
		border-width: 1px;
	}
	.instructions{
		width: 24%;
		float: left;
		border-style: solid;
		border-radius: 5px;
		border-color: black;
		border-width: 1px;
	}
	.agree{

	}

</style>
 -->

 <style>
 	.demo-card-wide.mdl-card {
	  width: 700px;
	}
 </style>
