<div class="directive-border">
	<h4>{{ title }}</h4>
	<div>
			
			<ul class="rig columns-5">
				<img style="margin-top: 6%" (click)="getPreviousItems();"  [hidden]="pageNumber==1" class="scroll-button" src="app/images/l.jpg" />
				<li *ngFor="let item of items" >
					<item [item]="item"></item>
				</li>	
				<img style="margin-left: 2%; margin-top: 6%" (click)="getNextItems();" class="scroll-button" src="app/images/r.jpg" />	
			</ul>
			
	</div>
	
	<!-- <div class="style-two"></div> -->
</div>


<style>
</style>
	